@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');

:root{
    --font-family: "New Amsterdam", sans-serif;
    --cor-primaria: #3ABEF9;
    --cor-de-fundo: #050C9C;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1{
    font-size: 7em;
}

h2{
    font-size: 6em;
}

h3{
    font-size: 3em;
    margin-top: 20px;
}

.mensagem{
    font-size: 2em;
    margin-top: 40px;
}

.box{
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4.5em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar{
    padding: 8px 15px;
    border: 0;
    background: var(--cor-primaria);
    border-radius: 5px;
    margin-top: 20px;
}